/* Define colors */
:root {
  --primary-color: #000000;
  --secondary-color: #e6c718;
  --light-bg-color: #2d2d2d;
  --dark-text-color: #a9a4a4;
  --light-text-color: #fffefc;
}

/* Set default font family and size */
body {
  font-family: "OCR A Std", monospace;
  font-size: 16px;
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
}

/* Style links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Set default button styles */
button {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #dd55b4;
  color: black;
}

button.secondary {
  background-color: var(--secondary-color);
}

button.secondary:hover {
  background-color: #d4af37;
}

/* Set default input styles */
input,
select,
textarea {
  border-radius: 0.4rem;
  border: 1px solid var(--dark-text-color);
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--light-text-color);
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}

textarea {
  height: 10rem;
  color: rgb(0, 0, 0);
}

/* Set default form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--light-text-color);
}

/* Set default error message styles */
.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* Improve readability */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--light-text-color);
}

p {
  line-height: 1.5;
}

/* Add dark background to code blocks */
pre {
  background-color: var(--dark-text-color);
  color: var(--light-text-color);
  padding: 1rem;
  overflow-x: auto;
}

/* Add border and padding to table cells */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th,
td {
  border: 1px solid var(--dark-text-color);
  padding: 0.5rem;
}

th {
  background-color: var(--primary-color);
  color: var(--light-text-color);
}

/* Add margin between list items */
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

/* Set default styles for buttons and form elements in modals */
.modal button,
.modal input,
.modal select,
.modal textarea {
  background-color: var(--light-text-color);
  color: var(--dark-text-color);
}

.modal button:hover {
  background-color: var(--primary-color);
  color: var(--light-text-color);
}

.modal label {
  color: var(--dark-text-color);
}

/* Set default styles for 3js elements */
canvas {
  display: block;
  margin: 1rem auto;
}

.stats-panel {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.gui-panel {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  color: white;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.4rem;
}

.gui-panel h3 {
  margin-top: 0;
}

.gui-panel input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.gui-panel button {
  margin-top: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.gui-panel button:hover {
  background-color: #0055a2;
}

.gui-panel label {
  margin-bottom: 0.5rem;
}

.gui-panel hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.my-games-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.game-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-card-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-card {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  border-radius: 0.4rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2%;
  width: 100%;
}


.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  background-color: rgb(248, 200, 10);
  color:rgb(0, 0, 0);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 0.5rem;
  font-size: 1em;
}

.edit-button {
  margin-top: 1rem;
  margin: 1%;
}

.delete-button {
  margin-top: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-heading {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.save-button {
  background-color: var(--primary-color);
  margin-right: 1rem;
}

/* Set the font size and font family for the NavbarBrand */

/* Change the color and font size of the links */
.Navbar a,
.Navbar a:visited {
  color: rgb(203, 91, 91);
  font-size: 1rem;
}

/* Add some space between the links */
.Navbar a+a {
  margin-left: 1rem;
}

/* Change the background color and font size of the Welcome message */
.Navbar .NavItem:last-child {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: red;
}

.navbar-brand {
  font-size: 2rem;
  display: block;
  justify-content: center;
  align-items: center;
  color: var(--light-text-color);
  color: #dd55b4;
}

.nav-link {
  font-size: 1.3rem;
  color: rgb(203, 91, 91);
}

.navbar-nav {
  color: rgb(203, 91, 91);
}

/* Game board */



/* Game controls */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-group {
  margin-bottom: 2rem;
}

.start-btn {
  margin-right: 0.5rem;
}


/* Random control input */
.random-label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.random-input {
  width: 100%;
  margin-bottom: 2rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
}

.random-btn {
  margin-left: 10px;
}

.speed-input {
  margin-left: 10px;
  width: 100px;
}

.initial-config-input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.set-config-btn {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-board {
  border: 1px solid #bbbbbb;
  background-color: #ffffff;
}

.game-board::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.game-board canvas {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  float: left;
  width: calc(100% / 50);
  height: calc(100% / 50);
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

.game-board canvas::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / 50);
}

.game-board canvas::after {
  content: "";
  display: table;
  clear: both;
}

.game-board canvas:last-child {
  border-right: none;
}

.game-board canvas:nth-child(50n) {
  border-bottom: none;
}

.game-body {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.game-info {
  margin-top: 10px;
}

.game-title {
  font-size: 1.5rem;
  margin-top: 0;
}

.game-form {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  border-radius: 0.4rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2%;
  width: 96%;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
  grid-gap: 1px;
  background-color: #333;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.canvas {
  --board-background: #e33d3d;
  --cell-color: #FFFFFF;
  --grid-color: #bbbbbb;
}