body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch {
  display: flex;
}

html {
  background-color: rgb(221, 199, 152);
}

.input {
  margin: 0 auto;
  display: block;
  width: 50%;
}
.game-card {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* CSS for Edit and Delete buttons */
.edit-game-button,
.delete-game-button {
  border-radius: 10px;
}

/* CSS for Add Tag form */
.add-tag-form {
  margin-top: 20px;
}

/* CSS for My Games heading */
.my-games-heading {
  margin-top: 50px;
}

.add-tag-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}